{% extends 'mailing/base.html' %}

{% load media %}

{% block content %}

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Блог</h1>
            <p class="fs-5 text-body-secondary">Ниже представлены сообщения блога.</p>
        </div>
    </header>

    <main class="row">
        <div class="row text-center">

            {% if object_list %}

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№ записи</th>
                        <th scope="col">Название</th>
                        <th scope="col">Содержимое</th>
                        <th scope="col">Ссылка</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for object in object_list %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ object.title|title }}</td>
                            <td>{{ object.content|truncatechars:20 }}</td>
                            <td>
                                <a href="{% url 'mailing:blog-detail' object.slug %}">Подробнее</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {% else %}

                <p>Данных пока нет, чтобы они появились, пожалуйста, добавьте новую рассылку.</p>

            {% endif %}

            <div class="col-12 mb-5">
                <a class="btn btn-outline-primary" href="{% url 'mailing:blog-create' %}">Добавить пост</a>
            </div>

        </div>
    </main>

{% endblock %}
