{% extends 'mailing/base.html' %}

{% load media %}

{% block content %}

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Сообщения</h1>
            <p class="fs-5 text-body-secondary">Из формы обратной связи.</p>
        </div>
    </header>

    <main class="row">
        <div class="row text-center">

            {% if object_list %}

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№ записи</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Сообщение</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for object in object_list %}

                        <tr>
                            <th scope="row">{{ object.pk }}</th>
                            <td>{{ object.name|title }}</td>
                            <td>{{ object.phone }}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.message }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {% else %}

                <p>Данных пока нет, чтобы они появились, пожалуйста, заполните форму на странице контакты.</p>

            {% endif %}

        </div>
    </main>

{% endblock %}