{% extends 'mailing/base.html' %}

{% load media %}

{% block content %}

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="fs-5 text-body-secondary">
                {% if object %}
                    Изменение
                {% else %}
                    Создание
                {% endif %}
                рассылки.</p>
        </div>
    </header>

    <form method="post" enctype="multipart/form-data" class="row">

        {% if not formset %}
            <div class="col-3"></div>
        {% endif %}

        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Создать</button>
                    {% endif %}

                </div>
            </div>
        </div>

        {% if formset %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        {{ formset.management_form }}

                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endif %}

    </form>

{% endblock %}
