{% extends 'mailing/base.html' %}

{% load media %}

{% block content %}

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Рассылка:</h1>
        </div>
    </header>

    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">

                    <h4>Тема:</h4>
                    <p>{{ object.subject }}</p>

                    <h4>Сообщение:</h4>
                    <p>{{ object.message }}</p>

                    <h4>Статус:</h4>
                    <p>{{ object.status }}</p>

                    <h4>Создатель</h4>
                    <p> {{ object.creator|default:'не указан' }}</p>


                    <div class="card-footer">
                        <div class="row text-center">

                            <div class="col-6">
                                <a href="{% url 'mailing:mailing-update' object.pk %}"
                                   class="btn btn-outline-primary">Редактировать</a>
                            </div>

                            <div class="col-6">
                                <a href="{% url 'mailing:mailing-delete' object.pk %}"
                                   class="btn btn-outline-danger">Удалить</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}