{% extends 'mailing/base.html' %}

{% load media %}

{% block content %}

    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Страна</h1>
            <p class="fs-5 text-body-secondary">
                {% if object %}
                    Изменение
                {% else %}
                    Создание
                {% endif %}
                Страны.</p>
        </div>
    </header>

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if object %}
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Создать</button>
                            {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}